Reading files on Python

In [5]:
file_path = "C:/Users/elmer/Downloads/sample_file.xml"

f = open(file_path, "r")
print(f.name)
FileContent = f.read()
print(FileContent)
f.close()

C:/Users/elmer/Downloads/sample_file.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<message test="Y" timestamp="09/23/2022 12:58:26 GMT">
  <operationBatch batchRollback="N" loginId="hwi-omsi">
    <operation id="19097251">
      <setShipment update="Y">
        <shipment billingWeight="13761" clientKey1="SWHI" clientKey2="1180" clientKey3="TM22000592" contactUserRefCode="KEY, PATRICK" equipType="2720" freightTerms="PPA" grossWeight="13761" heading="200" insureFor="13354" numberOfPallets="4" orderType="SO" shipmentDistanceUOM="MI" shipmentVolumeUOM="CUIN" shipmentWeightUOM="LB" shipperRefId="12763404" transportationMode="20">
          <stop bolNumber="12763404" customLookup1="KEY, PATRICK" earlyStopDate="08/05/2022" earlyStopTime="07:00:00 America/New_York" lateStopDate="08/05/2022" lateStopTime="21:00:00 America/New_York" pickup="Y" rateBaseName="AUTO-ASSIGNED" sequenceNumber="0" shipperOrderId="142742,142771" shipperPoId="1117P-0000011940,1117P-0000011944">
            <address>
              <addressData city="SOUTH SHORE" companyName="HARBISONWALKER INTERNATIONAL" countryCode="US" customerNumber="1180" email="hwi_truckload@intellitrans.com" firstName="Intellitrans" lastName="LoadCenter" line1="29378 US HIGHWAY 23" phone="412-375-6765" postalCode="41175" stateProvinceCode="KY"/>
            </address>
          </stop>
          <stop bolNumber="12763404" customLookup1="KEY, PATRICK" earlyStopDate="08/07/2022" lateStopDate="08/07/2022" pickup="N" rateBaseName="AUTO-ASSIGNED" sequenceNumber="1" shipperOrderId="142742,142771" shipperPoId="1117P-0000011940,1117P-0000011944" specialInstructions="Name: Scott Cousin Phone: 607-974-5278 Hours: 7am-2pm Attn: S. MILES">
            <address>
              <addressData city="DOVER" companyName="JAN PACKAGING INC. (DOVER)" countryCode="US" customerNumber="90051152" line1="100 HARRISON ST" postalCode="07801" stateProvinceCode="NJ"/>
            </address>
          </stop>
          <commodity commodityKey1="6902201010" deliverySequenceNumber="1" details="TAMAX | 12 X 6 X 2 1/2 | STRAIGHT | FREE FROM SURFACE COLORATION" handlingUnitQuantity="0" harmonizationCode="6902201010" height="0" itemNumber="95417" length="0" ltlClass="50" nmfcCode="32100.2" packageTypeId="100" pickupSequenceNumber="0" productDescription="FIREBRICK" quantity="1" totalWeight="464.4535" weightUOM="LB" width="0"/>
          <commodity commodityKey1="6902201010" deliverySequenceNumber="1" details="TAMAX | 12 X 6 X 3 | STRAIGHT | FREE FROM SURFACE COLORATION" handlingUnitQuantity="0" harmonizationCode="6902201010" height="0" itemNumber="92410" length="0" ltlClass="50" nmfcCode="32100.2" packageTypeId="100" pickupSequenceNumber="0" productDescription="FIREBRICK" quantity="0" totalWeight="185.5465" weightUOM="LB" width="0"/>
          <commodity commodityKey1="6902201010" deliverySequenceNumber="1" details="TAMAX | 12 X 6 X 2 1/2 | STRAIGHT | FREE FROM SURFACE COLORATION" handlingUnitQuantity="0" harmonizationCode="6902201010" itemNumber="95417" ltlClass="50" nmfcCode="32100.2" packageTypeId="100" pickupSequenceNumber="0" productDescription="FIREBRICK" quantity="1" totalWeight="4111.0112" weightUOM="LB"/>
          <commodity commodityKey1="6902201010" deliverySequenceNumber="1" details="TAMAX | 24 X 8 X 7/8 | STRAIGHT | GRIND: E SEE SAP-A-005" handlingUnitQuantity="0" harmonizationCode="6902201010" height="0" itemNumber="116514" length="0" ltlClass="50" nmfcCode="32100.2" packageTypeId="100" pickupSequenceNumber="0" productDescription="FIREBRICK" quantity="1" totalWeight="5000" weightUOM="LB" width="0"/>
          <commodity commodityKey1="6902201010" deliverySequenceNumber="1" details="TAMAX | 12 X 6 X 3 | STRAIGHT | FREE FROM SURFACE COLORATION" handlingUnitQuantity="0" harmonizationCode="6902201010" height="0" itemNumber="92410" length="0" ltlClass="50" nmfcCode="32100.2" packageTypeId="100" pickupSequenceNumber="0" productDescription="FIREBRICK" quantity="1" totalWeight="4000" weightUOM="LB" width="0"/>
          <billto>
            <address>
              <addressData city="CONWAY" companyName="HWI" countryCode="US" line1="C/O INTELLITRANS (TRANSCORE)" line2="21 NABCO STREET" line3="SUITE 200" postalCode="72032" stateProvinceCode="AR"/>
            </address>
          </billto>
        </shipment>
      </setShipment>
    </operation>
  </operationBatch>
</message>

In [9]:
with open(file_path, "r") as file1:
    print(file1.read(15))
    print(file1.read(20))

<?xml version="
1.0" encoding="UTF-8

In [11]:
with open(file_path, "r") as file2:
    file_list = file2.readlines()

file_list[1]

'<message test="Y" timestamp="09/23/2022 12:58:26 GMT">\n'

Write and Save files in Python

In [1]:
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as currentMembers_file: 
        currentMembers_file.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            currentMembers_file.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [2]:
with open(memReg,'r') as file:
    print(file.readlines())

['Membership No  Date Joined  Active  \n', '    11382      2019-2-3     yes   \n', '    37300      2015-6-16    yes   \n', '    12867      2016-11-22   yes   \n', '    34498      2018-1-19    yes   \n', '    47802      2017-6-4     yes   \n', '    78083      2016-1-21    no    \n', '    63695      2015-9-15    yes   \n', '    60686      2018-1-11    yes   \n', '    92388      2016-11-18   no    \n', '    90166      2020-3-5     no    \n', '    13902      2020-1-20    no    \n', '    11971      2017-11-24   no    \n', '    32677      2019-9-2     yes   \n', '    31267      2015-7-17    no    \n', '    80111      2017-8-1     no    \n', '    78654      2020-12-20   no    \n', '    21673      2016-9-18    no    \n', '    57073      2020-3-14    yes   \n', '    59568      2019-11-14   yes   \n', '    61816      2015-11-2    yes   \n']

In [4]:
  
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    with open(currentMem, 'r+') as currentMembersFile:
        with open(exMem, 'a+') as exMembersFile:
            currentMembersFile.readline()
            currentList = currentMembersFile.readlines()

            inactiveList = [m for m in currentList if ('no' in m)]
        # Go to the beginning of the currentMem file
            currentMembersFile.seek(0,0)
        # TODO: Iterate through the members list.
        # If a member is inactive, add them to exMem, otherwise write them into currentMem
            for member in currentList:
                if (member in inactiveList):
                    exMembersFile.write(member)
                else:
                    currentMembersFile.write(member)
            currentMembersFile.truncate()


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


    11382      2019-2-3     yes
    37300      2015-6-16    yes
    12867      2016-11-22   yes
    34498      2018-1-19    yes
    47802      2017-6-4     yes
    63695      2015-9-15    yes
    60686      2018-1-11    yes
    32677      2019-9-2     yes
    57073      2020-3-14    yes
    59568      2019-11-14   yes
    61816      2015-11-2    yes

Inactive Members:


Membership No  Date Joined  Active
    98296      2018-8-18    no
    23959      2015-7-16    no
    69084      2018-3-8     no
    78083      2016-1-21    no
    92388      2016-11-18   no
    90166      2020-3-5     no
    13902      2020-1-20    no
    11971      2017-11-24   no
    31267      2015-7-17    no
    80111      2017-8-1     no
    78654      2020-12-20   no
    21673      2016-9-18    no

Intro to Pandas

In [12]:
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

df = pd.read_csv(filename)
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [15]:
df[['Artist','Genre']]

            Artist                        Genre
0  Michael Jackson               pop, rock, R&B
1            AC/DC                    hard rock
2       Pink Floyd             progressive rock
3  Whitney Houston               R&B, soul, pop
4        Meat Loaf  hard rock, progressive rock
5           Eagles   rock, soft rock, folk rock
6         Bee Gees                        disco
7    Fleetwood Mac                    soft rock

Quiz

In [18]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [20]:
q = df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Access the 2nd row and the 3rd column of <code>df</code>:

In [22]:
df.iloc[1,2]

1980

Use the following list to convert the dataframe index df to characters and assign it to df_new; find the element corresponding to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'

In [24]:
new_index=['a','b','c','d','e','f','g','h']

df_new = df
df_new.index = new_index
df_new

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
a,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
b,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
c,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
d,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
e,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
f,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
g,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
h,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [30]:
df_new.loc['a':'d','Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object